#rotator {
  width: 800px;
  height: 600px;
  border: 1px solid blue;
  margin: 0 auto;
  overflow: hidden;
}

#rotator ul {
  height: 100%;
  width: 4800px;
  /*overflow: hidden;*/
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

#rotator ul li {
  float: left;
  height: 598px;
  border: 1px solid green;
  width: 798px;
}