#rotator, #rotator2 {
  width: 800px;
  height: 600px;
  border: 1px solid blue;
  margin: 0 auto;
  overflow: hidden;
}

#rotator ul,
#rotator2 ul {
  
}

#rotator ul li,
#rotator2 ul li {
  outline: 1px solid green;
}